.topslider {
    width: 100%;
    height: 80vh;
    min-height: 10em;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)), url("../img/festival.gif") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.oel {
    width: calc( 100% + 4em );
    height: 100%;
    position: absolute;
    left: -2em;
    background: bottom center repeat-x;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: -1;
}

.oelAnim {
    animation-name: oelAnim;
    animation-duration: 3400ms;
    animation-delay: -1200ms;
    top: 1em;
    background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="246" height="2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="#FAFAFA" d="M246,1942.1c-50.4,0-72.6-31.3-123-31.3s-71.3,31.3-123,31.3l0,2000h246V1942.1z"/></svg>');
    background-position: bottom left;
    z-index: 2;
}

.sliderOverskrift {
    text-align: center;
    color: #FAFAFA;
    text-transform: uppercase;
    font-size: 110px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

@keyframes oelAnim {
    from {
        transform: rotate(0deg) translatey(-0.61em) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translatey(-0.61em) rotate(-360deg);
    }
}