/* FADBAMSEVALG17 CSS Fil */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.resMenu {
  display: none;
  float: right;
  margin-top: 20px; }
  .resMenu li {
    display: inline-block; }
    .resMenu li i {
      font-size: 40px; }
  .resMenu #menuKnap {
    transition: all .4s ease-in-out; }
    .resMenu #menuKnap:hover {
      cursor: pointer; }

.responsivMenu {
  position: fixed;
  top: 0;
  right: -50vmin;
  bottom: 0;
  width: 50vmin;
  background: #eac011;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  transition: all .4s ease-in-out;
  box-shadow: inset 7px 0 5px #e5bc10; }
  .responsivMenu .menuPunkt {
    font-family: 'Roboto', sans-serif;
    color: #FAFAFA;
    font-weight: 500;
    font-size: 2em;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    transition: all .4s ease-in-out; }
    .responsivMenu .menuPunkt:hover {
      background: #e5bc10;
      cursor: pointer; }
  .responsivMenu .resActive {
    background: #e5bc10; }

.aabn {
  right: 0; }

.menuAabn {
  -webkit-transform: translatex(-50vmin);
  -ms-transform: translatex(-50vmin);
  transform: translatex(-50vmin); }

.menuKnapAabn {
  -webkit-transform: translatex(-50vmin);
  -ms-transform: translatex(-50vmin);
  transform: translatex(-50vmin); }

@media screen and (max-width: 1050px) {
  .menu {
    display: none !important; }
  .resMenu {
    display: block !important; } }

.topslider {
  width: 100%;
  height: 80vh;
  min-height: 10em;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)), url("../img/festival.gif") no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.fbv {
  height: 40vh !important;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)), url("https://az616578.vo.msecnd.net/files/2015/06/01/635687269564982464562245736_84bd535841c98da8-crowd_800px.gif") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }

.omostop {
  height: 40vh !important;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)), url("https://studentlife.uiowa.edu/assets/Uploads/Raise-Hand-Resized-Gif.gif") no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed; }

.kontaktostop {
  height: 40vh !important;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)), url("http://encdr.com/wp-content/uploads/2014/07/thenug-Y0jm3xXBZn.gif") no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed; }

.oel {
  width: calc( 100% + 4em);
  height: 100%;
  position: absolute;
  left: -2em;
  background: bottom center repeat-x;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  z-index: -1; }

.oelAnim {
  -webkit-animation-name: oelAnim;
  animation-name: oelAnim;
  -webkit-animation-duration: 7400ms;
  animation-duration: 7400ms;
  -webkit-animation-delay: -1200ms;
  animation-delay: -1200ms;
  top: 1em;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="246" height="2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M247,1957c-11,0-20.3,7.5-23,17.6c-2.4-3.2-5.8-5.1-9.5-5.1c-2.2,0-4.2,0.7-6,1.8c-3-9.5-11-16.3-20.5-16.3\a 	c-8.3,0-15.5,5.2-19.2,13c-2.3-0.9-4.8-1.5-7.5-1.5c-6.9,0-12.8,3.4-16.1,8.6c-2.5-11.5-11.4-20.1-21.9-20.1\a 	c-10.8,0-19.8,8.8-22.1,20.7c-3.1-5.5-9-9.2-15.8-9.2c-2.8,0-5.4,0.6-7.7,1.7c-3.4-7.8-10.6-13.2-19-13.2c-9,0-16.7,6.2-19.7,14.9\a 	c-1.3-0.3-2.6-0.4-4-0.4c-5.4,0-10.1,2.1-13.1,5.4c-2.7-10.2-12.5-17.7-24.1-17.7c-13.7,0-24.9,10.5-24.9,23.5s11.1,23.5,24.9,23.5\a 	c0.7,0,1.4,0,2.1-0.1v6.8h246.6v-6.5c0.1,0,0.3,0,0.4,0c13.1,0,23.8-10.6,23.8-23.8S260.1,1957,247,1957z"/></svg>');
  background-position: bottom left;
  z-index: 2; }

.sliderOverskrift {
  text-align: center;
  color: #FAFAFA;
  text-transform: uppercase;
  font-size: 5vmax;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }

@-webkit-keyframes oelAnim {
  from {
    -webkit-transform: rotate(0deg) translatey(-0.61em) rotate(0deg);
    transform: rotate(0deg) translatey(-0.61em) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translatey(-0.61em) rotate(-360deg);
    transform: rotate(360deg) translatey(-0.61em) rotate(-360deg); } }

@keyframes oelAnim {
  from {
    -webkit-transform: rotate(0deg) translatey(-0.61em) rotate(0deg);
    transform: rotate(0deg) translatey(-0.61em) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translatey(-0.61em) rotate(-360deg);
    transform: rotate(360deg) translatey(-0.61em) rotate(-360deg); } }

.logoHolder {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3); }
  .logoHolder .logoet {
    position: relative; }
  .logoHolder .oel, .logoHolder .bobbler, .logoHolder .skum {
    position: absolute; }
  .logoHolder .bobbler, .logoHolder .skum {
    background: grey; }
  .logoHolder .bobbler {
    border-radius: 100%; }
  .logoHolder .kop {
    position: relative;
    width: 20vmin;
    height: 32vmin;
    background: grey;
    border-radius: 2vmin; }
    .logoHolder .kop:before, .logoHolder .kop:after {
      position: absolute;
      content: ''; }
    .logoHolder .kop:before {
      z-index: -2;
      left: 12vmin;
      top: 6vmin;
      width: 15vmin;
      height: 17vmin;
      border-radius: 19%;
      background: grey; }
    .logoHolder .kop:after {
      z-index: -1;
      width: 12vmin;
      height: 13vmin;
      top: 8vmin;
      left: 13vmin;
      background: #7DCFB6;
      border-radius: 19%; }
  .logoHolder .oel {
    top: 2vmin;
    left: 2vmin;
    width: 16vmin;
    height: 28vmin;
    background: rgba(239, 199, 32, 0.65);
    border-radius: 1vmin;
    z-index: 5; }
    .logoHolder .oel:before, .logoHolder .oel:after {
      position: absolute;
      content: '';
      background: rgba(220, 180, 16, 0.65);
      border-radius: 100%; }
    .logoHolder .oel:before {
      -webkit-animation: 4s bobblerOp infinite;
      animation: 4s bobblerOp infinite;
      width: 2vmin;
      height: 2vmin;
      bottom: 2vmin;
      left: 5vmin;
      box-shadow: 7vmin -15vmin 0 rgba(220, 180, 16, 0.65), 4vmin -10vmin 0 rgba(220, 180, 16, 0.65), 6vmin -3vmin 0 rgba(220, 180, 16, 0.65); }
    .logoHolder .oel:after {
      -webkit-animation: 4s bobblerOp infinite;
      animation: 4s bobblerOp infinite;
      width: 1.5vmin;
      height: 1.5vmin;
      bottom: 6vmin;
      left: 7vmin;
      box-shadow: -3vmin -8vmin 0 rgba(220, 180, 16, 0.65), 7vmin -5vmin 0 rgba(220, 180, 16, 0.65); }
  .logoHolder .bobbler {
    width: 10vmin;
    height: 10vmin;
    top: -5vmin;
    left: -3vmin;
    z-index: 7; }
    .logoHolder .bobbler:before, .logoHolder .bobbler:after {
      position: absolute;
      content: '';
      background: grey;
      border-radius: 100%; }
    .logoHolder .bobbler:before {
      width: 12vmin;
      height: 12vmin;
      left: 5vmin;
      top: -2vmin; }
    .logoHolder .bobbler:after {
      width: 10vmin;
      height: 10vmin;
      left: 14vmin;
      top: 0; }
  .logoHolder .skum {
    width: 5vmin;
    height: 14vmin;
    top: 1vmin;
    border-radius: 100px;
    left: -2vmin;
    box-shadow: 4vmin -6vmin 0 white;
    -webkit-animation: 6s skum infinite;
    animation: 6s skum infinite;
    z-index: 6; }
  .logoHolder .procent {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #FFF;
    font-size: 2em;
    width: 0; }

@-webkit-keyframes bobblerOp {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  99% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px); }
  100% {
    opacity: 0; } }

@keyframes bobblerOp {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  99% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px); }
  100% {
    opacity: 0; } }

@-webkit-keyframes skum {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    height: 25vmin; } }

@keyframes skum {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    height: 25vmin; } }

html, body {
  height: 100%;
  background: #efc720;
  font-family: 'Roboto', sans-serif;
  margin-top: 80px; }
  html .indhold, body .indhold {
    transition: all .4s ease-in-out; }
  html header, body header {
    position: fixed;
    background: #FAFAFA;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
    height: 80px;
    box-shadow: 0 3px 9px rgba(204, 204, 204, 0.6); }
    html header .logoTekst, body header .logoTekst {
      line-height: 80px;
      font-family: 'Fjalla One', sans-serif;
      font-size: 1.5em; }
    html header .menu, body header .menu {
      display: block;
      float: right; }
      html header .menu li, body header .menu li {
        list-style: none;
        display: inline-block;
        line-height: 80px;
        text-transform: uppercase;
        margin: 0 10px;
        font-size: 18px; }
        html header .menu li a, body header .menu li a {
          text-decoration: none;
          color: inherit;
          padding-bottom: 5px;
          border-bottom: 1px solid transparent;
          transition: all .6s ease-in-out;
          font-family: 'Roboto', sans-serif;
          font-weight: 400; }
          html header .menu li a:hover, body header .menu li a:hover {
            border-bottom: 2px solid #efc720;
            cursor: pointer; }
        html header .menu li .active, body header .menu li .active {
          border-bottom: 2px solid #efc720;
          font-weight: 500; }
        html header .menu li:last-of-type, body header .menu li:last-of-type {
          margin-right: 0; }
  html .skumBund, body .skumBund {
    height: 166px;
    width: 100%;
    background: url("../img/oelskum.png");
    background-repeat: repeat-x; }
  html .top, body .top {
    border-bottom: 1px dashed #FAFAFA; }
  html .hvad h1, body .hvad h1 {
    text-transform: uppercase;
    color: #FAFAFA; }
  html .hvad p, body .hvad p {
    color: #FAFAFA;
    text-align: justify;
    font-size: 22px; }
  html .info, body .info {
    margin-top: 40px;
    text-align: center;
    border-left: 1px dashed #FAFAFA; }
    html .info span, body .info span {
      color: #FAFAFA;
      font-weight: 500;
      font-size: 20px; }
    html .info p, body .info p {
      color: #FAFAFA; }
  html .seneste h2, body .seneste h2 {
    color: #FAFAFA;
    text-align: center; }
  html .insta, body .insta {
    text-align: center; }
  html .instaBilleder, body .instaBilleder {
    margin-top: 50px; }
  html .omos, body .omos {
    margin-top: 50px;
    border-bottom: 1px dashed #FAFAFA; }
    html .omos p, body .omos p {
      color: #FAFAFA;
      text-align: justify;
      font-size: 22px; }
  html .teamet, body .teamet {
    border-bottom: 1px dashed #FAFAFA; }
    html .teamet h2, body .teamet h2 {
      text-align: center;
      color: #FAFAFA;
      font-size: 3em;
      text-transform: uppercase; }
    html .teamet .billedeHolder, body .teamet .billedeHolder {
      position: relative;
      height: 200px;
      width: 200px;
      border-radius: 100%;
      overflow: hidden; }
      html .teamet .billedeHolder .billede, body .teamet .billedeHolder .billede {
        background: transparent;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 100%;
        transition: all .3s ease-in-out; }
        html .teamet .billedeHolder .billede:hover, body .teamet .billedeHolder .billede:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
          box-shadow: 0 0 5px #dcb410; }
      html .teamet .billedeHolder .helene, body .teamet .billedeHolder .helene {
        background: url("../img/helene.jpg") no-repeat;
        background-size: cover;
        background-position: 0 -10px; }
      html .teamet .billedeHolder .ismail, body .teamet .billedeHolder .ismail {
        background: url("../img/ismail.jpg") no-repeat;
        background-size: cover; }
      html .teamet .billedeHolder .line, body .teamet .billedeHolder .line {
        background: url("../img/line.jpg") no-repeat;
        background-size: cover;
        background-position: 0 -10px; }
      html .teamet .billedeHolder .mie, body .teamet .billedeHolder .mie {
        background: url("../img/mie.jpg") no-repeat;
        background-size: cover; }
      html .teamet .billedeHolder span, body .teamet .billedeHolder span {
        display: block;
        width: 100%;
        text-align: center;
        color: #FAFAFA;
        font-size: 1.2em;
        position: absolute;
        bottom: -30px;
        opacity: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        transition: all .5s ease-in-out; }
      html .teamet .billedeHolder:hover span, body .teamet .billedeHolder:hover span {
        bottom: 40px;
        opacity: 1; }
  html .samarb, body .samarb {
    margin-top: 20px; }
    html .samarb h2, body .samarb h2 {
      text-align: center;
      color: #FAFAFA;
      font-size: 3em;
      text-transform: uppercase; }
    html .samarb .samarbejdspartner, body .samarb .samarbejdspartner {
      text-align: right; }
      html .samarb .samarbejdspartner:last-of-type, body .samarb .samarbejdspartner:last-of-type {
        text-align: left; }
  html .hjemmeside, body .hjemmeside {
    display: block;
    width: 100%;
    text-align: center;
    color: #FAFAFA;
    font-size: 12px; }
  html .kontakt, body .kontakt {
    margin-top: 50px; }
    html .kontakt .kontaktOver, body .kontakt .kontaktOver {
      text-align: center;
      width: 100%;
      display: block;
      color: #FAFAFA;
      font-size: 1.6em;
      margin-bottom: 15px; }
    html .kontakt input[type="text"], html .kontakt input[type="email"], html .kontakt textarea, body .kontakt input[type="text"], body .kontakt input[type="email"], body .kontakt textarea {
      background: #FAFAFA;
      border-radius: 10px;
      border: none;
      padding: 7px;
      width: 100%;
      box-sizing: border-box;
      outline: none; }
    html .kontakt textarea, body .kontakt textarea {
      min-height: 100px; }
    html .kontakt button, body .kontakt button {
      box-sizing: border-box;
      width: 100%;
      padding: 7px;
      border-radius: 10px;
      background: #43A047;
      border: none;
      color: #FAFAFA;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.3em;
      margin-top: 5px; }
      html .kontakt button i, body .kontakt button i {
        font-size: 1.2em;
        padding-right: 5px; }
  html footer, body footer {
    text-align: center;
    color: #000;
    background: #FAFAFA;
    padding: 10px 0px;
    font-size: 1.2vmax; }
